<div class="row">
  <div class="col-xs-12 col-md-12 padding-right-3">
    <div class="portlet light portlet-fixed-height">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="font-green"></i>
          <span class="caption-subject font-blue-madison bold uppercase font-custom">
            {{"other_report" | translator: "main"}}
          </span>
        </div>
        <div class="actions">
          <a href="#" class="btn blue-custom btn-sm">
            <i class="fa fa-print"></i> {{"print" | translator: "main"}} </a>
          <a href="#" class="btn blue-custom btn-sm">
            <i class="fa fa-send"></i> {{"send_" | translator: "main"}} </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="max-width-100-pc scrollable">
          <table class="table table-hover table-custom table-striped" fixed-header>
            <thead>
              <tr>
                <th>{{"no." | translator: "main"}}</th>
                <th class="text-left">{{"content_index" | translator: "main"}}</th>
                <th>Giá trị</th>
              </tr>
            </thead>
            <tbody class="max-height-table">
              <tr>
                <td>1</td>
                <td class="text-left">{{"average_dose_in_month" | translator: "main"}}</td>
                <td>-</td>
              </tr>
              <tr>
                <td>2</td>
                <td class="text-left">{{"max_dose_in_month" | translator: "main"}}</td>
                <td>-</td>
              </tr>
              <tr>
                <td>3</td>
                <td class="text-left">{{"min_dose_in_month" | translator: "main"}}</td>
                <td>-</td>
              </tr>
              <tr>
                <td>4</td>
                <td class="text-left">{{"average_dose_day" | translator: "main"}}</td>
                <td>-</td>
              </tr>
              <tr>
                <td>5</td>
                <td class="text-left">{{"number_of_patient_use_medicine_in_day" | translator: "main"}}</td>
                <td>-</td>
              </tr>
              <tr>
                <td>6</td>
                <td class="text-left">{{"number_of_patient_give_up_medicine_in_day" | translator: "main"}}</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
