<form ng-submit="editFinancialForm.$valid && editFinancial()" name="editFinancialForm" novalidate>
  <div class="modal-header bg-blue-custom padding-title">
    <h3 class="modal-title text-bold-header"> {{"edit_financial" | translator: 'category'}}</h3>
  </div>
  <div class="modal-body">
    <div class="row row-flex">
      <div class="form-group col-xs-12">

        <div class="form-group col-xs-4">
          <label class="required">{{"from_financial" | translator: 'category'}}:</label>
        </div>
        <div class="form-group col-xs-8">
         <input type="number" ng-model="financial.fromfinancial" name="fromfinancial"
         class="form-control input-sm" min="1000" step ="1000" max = "2147483647" required>
          <div ng-messages="editFinancialForm.fromfinancial.$error" ng-show="editFinancialForm.$submitted" class="text-error">
            <div ng-message="required">{{"require" | translator: 'validate'}}</div>
            <div ng-message="max">{{"maxfinancial" | translator: 'validate'}}</div>
          </div>
        </div>

        <div class="form-group col-xs-4">
          <label class="required">{{"to_financial" | translator: 'category'}}:</label>
        </div>
        <div class="form-group col-xs-8">
          <input type="number" ng-model="financial.tofinancial" name="tofinancial"
          class="form-control input-sm" min= "{{financial.fromfinancial}}"  step ="1000" max = " 2147483647" required>
          <div ng-messages="editFinancialForm.tofinancial.$error" ng-show="editFinancialForm.$submitted" class="text-error">
            <div ng-message="required">{{"require" | translator: 'validate'}}</div>
            <div ng-message="min">{{"minfinancial" | translator: 'validate'}}</div>
            <div ng-message="max">{{"maxfinancial" | translator: 'validate'}}</div>
          </div>
        </div>

        <div class="form-group col-xs-4">
          <label class="required">{{"status" | translator: 'category'}}:</label>
        </div>
        <div class="form-group col-xs-8">
        <ui-select ng-model="financial.status" name="status" theme="select2"
          append-to-body="true" search-enabled="false" >
          <ui-select-match placeholder="{{'please_select'| translator: 'main'}}">
            {{$select.selected | translator: 'status'}}
          </ui-select-match>
          <ui-select-choices repeat="status in ['actived', 'deactived']">
            <span ng-bind-html="status | translator: 'status' | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input ng-click="close()" class="btn btn-default btn-sm" type="button" data-dismiss="modal" value='{{"close" | translator: "main"}}'>
    <button class="btn blue-custom btn-sm" type="submit"><i class="fa fa-save"></i> {{"save" | translator: "main"}}</button>
  </div>
</form>
