<div class="modal-header bg-blue-custom padding-title">
  <h3 class="modal-title text-bold-header pull-left"> Biên bản bỏ liều</h3>
  <div class="inputs">
    <a class="btn blue-custom btn-sm pull-right" style="margin-left: 10px;"
      ng-click='print()'>
      <i class="fa fa-print"></i> {{"print" | translator: "main"}}
    </a>
  </div>
</div>
<div class="modal-body" style="margin: auto;">
  <div class="row row-flex">
    <div style="width: 95%;font-size: 14px;margin: auto;" id="pdf">
      <style type="text/css">
        #pdf {
          font-family: 'TimesNewRoman' !important;
          font-size: 14pt !important;
          word-wrap: break-word;
        }
        .modal-lg {
          width: 60%;
        }
        @page{
          size: A4;
          margin-top: 80px;
          margin: 70px;
        }
        .title {
          font-weight: bold;
          text-align: center
        }
        .paragaph {
          text-indent: 30px;
          line-height: 150%;
          text-align: justify;
          margin: 1px;
        }
        .text-right {
          text-align: right;
        }
      </style>
      <div style="white-space: nowrap;">
        <div style="width: 50%; display: inline-block;">
          <p class="title" style="margin-bottom: 3px;">TTYT {{currentUser.agency.name}}</p>
          <p class="title" style="margin-top: 5px; margin-bottom: 5px;">CƠ SỞ ĐIỀU TRỊ METHADONE</p>
        </div>
        <div style="width: 50%; display: inline-block">
          <p class="title" style="margin-bottom: 3px;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
          <p class="title" style="margin-top: 5px; margin-bottom: 5px;">Độc lập - Tự do - Hạnh phúc</p>
          <hr style="margin-top: 0px; border-top: 1px solid black;margin-left: 35%;" align="center" width="30%">
        </div>
      </div>
      <p class="title">BIÊN BẢN</p>
      <p class="title" style="margin-bottom: 5px;">Bệnh nhân bỏ uống thuốc</p>
      <p class="paragaph">
        <b>1. Thời gian:</b> Ngày {{ currentDate }} tháng {{ currentMonth }} năm {{ currentYear }}
      </p>
      <p class="paragaph"><b>2. Địa điểm:</b> {{currentUser.agency.name}}</p>
      <p class="paragaph"><b>3. Thành phần:</b></p>

      <div class="paragaph" ng-repeat="council in councils.data track by $index" style="white-space: nowrap;">
        <div style="width: 40%; display: inline-block;">
          {{$index + 1}}. {{council.title}}: {{council.name}}</div>
      </div>

      <p class="paragaph"><b>4. Nội dung:</b></p>
      <div style="white-space: nowrap;">
        <div style="width: 50%; display: inline-block;">
          <p class="paragaph">- Bệnh nhân: {{patient.name}}</p>
        </div>
        <div style="width: 50%; display: inline-block">
          <p class="paragaph">Mã số: {{patient.card_number}}</p>
        </div>
      </div>

      <p class="paragaph" ng-if="!drop_consecutive">
        - Không đến uống thuốc: ngày {{ give_up_date }} tháng {{ give_up_month }} năm {{ give_up_year }} như chỉ định.
      </p>

      <p class="paragaph" ng-if="drop_consecutive">
        - Không đến uống thuốc các ngày từ ngày {{give_up_from_date}} tháng {{give_up_from_month}} năm {{give_up_from_year}} đến ngày {{give_up_to_date}} tháng {{give_up_to_month}} năm {{give_up_to_year}} như chỉ định.
      </p>

      <p class="paragaph">- Lý do bỏ uống thuốc (bỏ liều):</p>
      <p class="paragaph">
        - Quay lại uống thuốc: ngày ... tháng ... năm ...
      </p>
      <p class="paragaph">- Xử trí:</p>
      <p class="paragaph" style="margin-left: 20px;">+ Tư vấn tuân thủ điều trị:</p>
      <hr style="border: 1px dotted #000000;border-style: none none dotted; color: #fff;background-color: #fff; margin-left: 30px;">
      <hr style="border: 1px dotted #000000;border-style: none none dotted; color: #fff;background-color: #fff; margin-left: 30px;">
      <hr style="border: 1px dotted #000000;border-style: none none dotted; color: #fff;background-color: #fff; margin-left: 30px;">
      <p class="paragaph" style="margin-left: 20px;">+ Chỉ định liều Methadone: 75mg</p>
      <p class="paragaph">- Cam kết của bệnh nhân:</p>
      <hr style="border: 1px dotted #000000;border-style: none none dotted; color: #fff;background-color: #fff; margin-left: 30px;">
      <p class="paragaph" style="margin-left: 20px;">Biên bản được lập thành 02 bản có giá trị như nhau (01 bản do dược sỹ lưu, 01 bản lưu trong bệnh án) đã được các bên đồng ý nội dung. </p>
      <p class="text-right"><i>Ngày lập biên bản {{ currentDate }} / {{ currentMonth }} / {{ currentYear }}</i></p>
      <div style="white-space: nowrap; margin-bottom: 50px;">
        <div style="width: 35%; display: inline-block;">
          <p class="title" style="margin-bottom: 3px;">Cán bộ Hành chính</p>
        </div>
        <div style="width: 30%; display: inline-block">
          <p class="title" style="margin-bottom: 3px;">Cán bộ Dược</p>
        </div>
        <div style="width: 35%; display: inline-block">
          <p class="title" style="margin-bottom: 3px;">Bác sĩ điều trị</p>
        </div>
      </div>
      <div style="white-space: nowrap; margin-bottom: 50px;">
        <div style="width: 50%; display: inline-block;">
          <p class="title" style="margin-bottom: 3px;">Tư vấn viên</p>
        </div>
        <div style="width: 50%; display: inline-block">
          <p class="title" style="margin-bottom: 3px;">Bệnh nhân</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <input ng-click="close()" class="btn btn-default btn-sm" type="button" data-dismiss="modal" value='{{"close"| translator: "main"}}'>
</div>
