<div class="modal-header bg-blue-custom padding-title">
  <h3 class="modal-title text-bold-header pull-left"> {{"lost_report"| translator: 'patient'}}</h3>
  <div class="inputs">
    <a class="btn blue-custom btn-sm pull-right" style="margin-left: 10px;"
      ng-click='print()'>
      <i class="fa fa-print"></i> {{"print" | translator: "main"}}
    </a>
  </div>
</div>
<div class="modal-body" style="margin: auto;">
  <div class="row row-flex">
    <div style="width: 95%;font-size: 14px;margin: auto;" id="pdf">
      <style type="text/css">
        #pdf {
          font-family: 'TimesNewRoman' !important;
          word-wrap: break-word;
        }
        .modal-lg {
          width: 35%;
        }
        @page{
          size: A4;
          margin-top: 80px;
        }
        .title {
          font-weight: bold;
          text-align: center
        }
        .paragaph {
          line-height: 150%;
          text-align: justify;
          font-size: 14pt !important;
        }
      </style>
      <p class="title" style="margin-bottom: 3px;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
      <p class="title" style="margin-top: 5px; margin-bottom: 5px;">Độc lập - Tự do - Hạnh phúc</p>
      <p style="text-align: right">................, ngày {{ currentDate }} tháng {{ currentMonth }} năm {{ currentYear }}</p>
      <p class="title" style="font-size: 14pt !important;">BIÊN BẢN</p>
      <p class="title" style="margin-bottom: 5px; font-size: 14pt !important;">Xác nhận hư hao thuốc Methadone tại cơ sở điều trị</p>
      <p class="paragaph">Thời gian: {{ hour }} giờ {{ minute }} phút</p>
      <p class="paragaph">Địa điểm: {{currentUser.agency.name}}</p>
      <p class="paragaph">Người lập biên bản:</p>
      <div class="paragaph" ng-repeat="council in councils.data" style="white-space: nowrap;">
        <div style="width: 40%; display: inline-block;">
          {{council.name}}</div>
        <div style="width: 60%; display: inline-block;">
          Chức vụ: {{council.title}}
        </div>
      </div>
<!--       <div class="paragaph" ng-repeat="council in councils.data" style="white-space: nowrap;">
        <div style="width: 40%; display: inline-block;" ng-if="council.title == 'Dược sĩ cấp phát'">
          DS: {{council.name}}</div>
        <div style="width: 60%; display: inline-block;" ng-if="council.title == 'Dược sĩ cấp phát'">
          Chức vụ: {{council.title}}
        </div>
      </div>
      <div class="paragaph" ng-repeat="council in councils.data" style="white-space: nowrap;">
        <div style="width: 40%; display: inline-block;" ng-if="council.title == 'Nhân viên phòng hành chính'">
          DS: {{council.name}}</div>
        <div style="width: 60%; display: inline-block;" ng-if="council.title == 'Nhân viên phòng hành chính'">
          Chức vụ: {{council.title}}
        </div>
      </div> -->
      <p class="paragaph">Trong quá trình kiểm kê thuốc Methadone cấp phát trong ngày {{ currentDate }}/{{ currentMonth }}/{{currentYear}} đã phát hiện ra hư hao thuốc Methadone. Cụ thể là: {{loss}} ml</p>
      <p class="paragaph">Nguyên nhân hao hụt thuốc do: Quá trình cấp phát.</p>
      <p class="paragaph">Biên bản này được lập vào hồi {{ hour }} giờ {{ minute }} phút ngày {{ currentDate }}/{{ currentMonth }}/{{currentYear}}.</p>
      <br>
      <p class="title">XÁC NHẬN CỦA CÁC BÊN THAM GIA LẬP BIÊN BẢN</p>
      <div>
        <div style="width: 25%; display: table-cell;">
          <b>P.Dược</b>
        </div>
        <div style="width: 25%; display: table-cell;">
          <b>P.Dược</b>
        </div>
        <div style="width: 25%; display: table-cell;">
          <b>P.Hành chính</b>
        </div>
        <div style="width: 25%; display: table-cell; word-wrap: break-word;">
          <b>Giám đốc TTYT(Trưỏng CSĐT)</b>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <input ng-click="close()" class="btn btn-default btn-sm" type="button" data-dismiss="modal" value='{{"close"| translator: "main"}}'>
</div>
